[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
display_skipped_hosts = False

[ssh_connection]
pipelining = True
